@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Zilla+Slab+Highlight&display=swap');

/* Reset */

* { box-sizing: border-box; }


/* Mozilla Fonts */

@font-face {
  font-family: 'Inter';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/15542/inter-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/15542/inter-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/15542/inter-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/15542/inter-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}


/* Defaults */

html {
  --light: 1;
  --dark: -1;
  --mode: var(--demo-mode, var(--os-mode, 1));
  --unmode: calc(var(--mode) * -1);
  --zero: calc((var(--mode) + 1) / 2);
  --unzero: calc((var(--unmode) + 1) / 2);
  
  /* fonts */
  --zilla: 'Zilla Slab', serif;
  --zilla-highlight: 'Zilla Slab Highlight', serif;
  --inter: 'Inter', sans-serif;
  
  /* primary colors */
  --neon-blue: #00ffff;
  --lemon-yellow: #fff44f;
  --warm-red: #ff4f5e;
  --neon-green: #54ffbd;
  --dark-purple: #6e008b;

  /* secondary colors */
  --dark-green: #005e5e;
  --dark-blue: #00458b;
  --dark-grey: #959595;
  --light-grey: #e7e5e2;

  /* main color usage */
  --background: hsl(0deg, 100%, calc(100% * var(--mode)));
  --color: hsl(0deg, 100%, calc(100% * var(--unmode)));
  --callout: hsla(0deg, 0%, 50%, 0.25);

  /* action colors */
  --action: hsl(
    180deg,
    50%,
    calc((50% * var(--unzero)) + (18% * var(--zero)))
  );
  --hover: hsl(
    180deg,
    100%,
    calc((50% * var(--unzero)) + (18% * var(--zero)))
  );
  
  /* sizes */
  --font-scale: 0.5vmin;
  --radius: 0.25em;

  /* applied… */
  background-color: var(--background);
  color: var(--color);
  font-family: var(--inter);
  font-size: calc(1em + var(--font-scale));
  line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
  html { 
    --os-mode: -1; 
  }
}

body {
  padding: 1em;
}


/* Headings */

h1 {
  font-family: var(--zilla-highlight);
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 1;
  margin: 0.5em 0;
}

h2, h3, h4, h5 {
  font-family: var(--zilla);
}


/* Links */

a:link,
a:visited {
  color: var(--action);
  font-family: var(--zilla);
  font-weight: bold;
}

a:hover,
a:focus,
a:active {
  color: var(--hover);
  font-family: var(--zilla-highlight);
  text-decoration: underline;
}


/* Buttons */

button {
  background: var(--action) linear-gradient(to top, hsla(0, 0%, 100%, 0.125) 50%, transparent 50%);
  border: 2px solid var(--hover);
  border-radius: var(--radius);
  color: var(--background);
  cursor: pointer;
  font: inherit;
  font-family: var(--zilla);
  font-weight: bold;
  font-style: italic;
  padding: 0.125em 1em;
}

button:hover,
button:focus,
button:active {
  background-color: var(--hover);
  border-color: var(--color);
}

button:active {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.125) 50%, transparent 50%);
}


/* Forms */

.field {
  display: block;
  margin-bottom: 1em;
}

.label-text {
  font-family: var(--zilla);
  font-style: italic;
}

input[type=text],
input[type=email],
textarea {
  background: var(--callout);
  border: 2px solid var(--action);
  border-radius: 0 var(--radius);
  color: var(--color);
  font-family: var(--zilla);
  padding: 0.25em;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: var(--hover);
}

textarea {
  min-height: 6em;
}

